.container {
  font-size: 20px;
  height: 100%;
  width: 50%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
  overflow: auto;
}

.mapContainer {
  width: 400px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

textarea,
.mapContainer {
  border: 2px solid black;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.customSelect {
  min-width: 350px;
  position: relative;
}

.customSelect select {
  appearance: none;
  width: 100%;
  font-size: 2rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

.customSelect::before,
.customSelect::after {
  --size: 0.3rem;
  content: '';
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.customSelect::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.customSelect::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}
